*{
    font-family: 'Kanit', serif;
    font-weight: 275;
    font-style: normal;
}

h1{
    text-align: left;
    padding: 30%;
    margin: 2%;
}
body {
  background-image: url("assets/bricky.png"); /* Your image path */
  background-size: cover; /* Make sure the image covers the whole screen */
  background-position: center; /* Center the image */
  background-attachment: fixed; /* Optional: keeps the image fixed when scrolling */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  margin: 0; /* Removes default margin from body */
  height: 100vh; /* Ensures the body takes up the entire viewport height */
  cursor: url('/assets/rs_hand.png'), auto;
}


a, button, * {
  cursor: url('/assets/rs_hand.png'), auto;
}

/* STYLE NAV BAR
ul{
    list-style-type: none;
    background-color: rgba(255, 0, 0, 100);;
    padding: 1vw;
    text-align: right;
    margin: 0%;
  }
  
  li{
    display: inline;
    text-decoration: none;
    color: #746F72;
    font-size: 2vw;
    padding: 1vw;
  }
   */



   #browse:hover {
      background-color: #C80e20;
      
}


  #about:hover{
    background-color: #03671E;
  }

  #team:hover{
    background-color: #0070B7;
  }


  /* Navbar Styling */
  nav {
      position: absolute; /* Keeps navbar on top of iframe */
      background-color: none; /* Slight transparency */
      color: black;
      padding: 1vw;
      text-align: right;
      margin: 1%;
      font-family: 'Kanit', sans-serif;
      font-size: 25px;
      z-index: 100; /* Higher than the iframe */
  }

  nav ul {
      list-style: none;
      margin: 0.00001%;
      padding: 0;
      display: flex;
      justify-content: center;
      gap: 5px;
  }

  nav ul li {
      display: inline;
      padding: 10px 20px;
      background: #F8c60b;
      border-radius: 5px;
  }

  nav ul li:hover {
    cursor: url('/assets/rs_hand.png'), auto;
    transform: scale(1.05); /* Slight pop effect on hover */
}

#logo {
  position: absolute;  /* Allows precise positioning */
  top: 10px;           /* Distance from the top */
  left: 1525px;         /* Distance from the right */
  width: 150px;        /* Adjust size */
}

/* Remove link default styling */
nav a {
  text-decoration: none; /* Removes underline */
  color: inherit; /* Inherits color from the parent element */
}

#search {
  width: 75px;
  height: auto;
}

#set_id{
  width: 700px;
  height: 80px;
  font-size: x-large;
}

.search_area {
    display: flex; /* Enable Flexbox */
    margin: 0.1%;
    padding: 0;
    justify-content: center; /* Horizontally centers the div */
    align-items: center; /* Vertically centers the div */
    height: 100vh; /* Take up the full viewport height */
}

